MODEL:
  WEIGHTS: "detectron2://COCO-Detection/faster_rcnn_R_50_FPN_3x/137849458/model_final_280758.pkl"

  ANCHOR_GENERATOR:
    SIZES: [[8, 12, 16, 20], [24, 28, 32, 40], [48, 56, 64, 80], [96, 112, 128, 160], [192, 224, 256, 320]]
    ASPECT_RATIOS: [[0.5, 0.75, 1.0, 1.5, 2.0]]

  RPN:
    PRE_NMS_TOPK_TRAIN: 4000
    PRE_NMS_TOPK_TEST: 2000
    POST_NMS_TOPK_TRAIN: 1500
    POST_NMS_TOPK_TEST: 1500
    NMS_THRESH: 0.7

  ROI_HEADS:
    NAME: "CascadeROIHeads"
    NUM_CLASSES: 12
    BATCH_SIZE_PER_IMAGE: 512
    SCORE_THRESH_TEST: 0.5

  ROI_BOX_CASCADE_HEAD:
    IOUS: [0.5, 0.6, 0.7]
    BBOX_REG_WEIGHTS: [[10,10,5,5], [20,20,10,10], [30,30,15,15]]

  ROI_BOX_HEAD:
    CLS_AGNOSTIC_BBOX_REG: True 
    BBOX_REG_LOSS_TYPE: "giou"
    POOLER_RESOLUTION: 14
    POOLER_SAMPLING_RATIO: 2

DATASETS:
  TRAIN: ("agropest_train",)
  TEST: ("agropest_valid",)

DATALOADER:
  NUM_WORKERS: 4
  SAMPLER_TRAIN: "TrainingSampler"

SOLVER:
  IMS_PER_BATCH: 4
  BASE_LR: 0.001
  MAX_ITER: 50000
  STEPS: (36000, 44000)
  GAMMA: 0.1
  WARMUP_FACTOR: 0.001
  WARMUP_ITERS: 1500
  MOMENTUM: 0.9
  WEIGHT_DECAY: 0.0001
  CHECKPOINT_PERIOD: 2500

INPUT:
  MIN_SIZE_TRAIN: (512, 544, 576, 608, 640, 672, 704, 736, 768, 800, 832, 864, 896)
  MAX_SIZE_TRAIN: 1333
  MIN_SIZE_TEST: 704
  MAX_SIZE_TEST: 1333
  RANDOM_FLIP: "horizontal"

TEST:
  EVAL_PERIOD: 2500
  DETECTIONS_PER_IMAGE: 100
  AUG:
    ENABLED: True
    MIN_SIZES: (640, 800, 960)
    MAX_SIZE: 1333
    FLIP: True

OUTPUT_DIR: "/root/autodl-tmp/faster_rcnn_R50_FPN_cascade_giou"
SEED: 42
